.App {
    text-align: center;
    width: 200px;
    height: 110px;
    border: 7px solid #ccc;
    background: #eee;
    padding: 15px 25px;
    margin-left: 50px;



}

.negative {
    color: red;
    width: 100px;
    height: 30px;
    border: 3px solid #ccc;
    background: #eee;
    padding: 15px 25px;
    margin: auto;
}

.positive {
    color: limegreen;
    width: 100px;
    height: 30px;
    border: 3px solid #ccc;
    background: #eee;
    padding: 15px 25px;
    margin: auto;
}

.button {
    padding: 8px 1px;
    width: 148px;
    height: 30px;
    border: 3px solid #ccc;
    background: #eee;

    margin: auto;
}

.button-reset {
    padding: 2px 3px;
    margin-left: 5px;
    background-color: orangered;
}

.button-inc {
    padding: 2px 3px;
    margin-left: 5px;
    background-color: limegreen;
}

.button-set {
    padding: 2px 3px;
    margin-left: 5px;
    background-color: dodgerblue;
}
